* {
  box-sizing: border-box;
}

.responsive-div {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 0;
}

.main-contaniner-panel {
  width: 98%;
  margin: auto;
  height: 90vh;
  margin-top: 10px;
  background-color: #fefefe;
  border-radius: 10px;
  overflow: hidden;
}

.row-responsive {
  display: flex;
    width: 100%;
    height: 120px;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.row-responsive .row {
  width: 100%;
}

.row-responsive .row .col-75 {
  width: 100%;
}

.col-center {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.col-checked {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.checked-class {
  width: auto;
}

.button-Add-Reset {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: auto;
    margin-right: 20px;
    width: 20%;
}

.div-2-controller {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  overflow: auto;
  height: 80vh;
  margin: auto;
  margin-top: 0;
}
.div-close-poupup {
  height: 55px !important;
  padding: 0 !important;
}
.col-55 {
  display: flex;
  gap: 20px;
}

.col-55 button {
  background-color: white;
  border: mediumpurple;
  border-radius: 5px;
  padding: 5px;
  width: 70px;
  box-shadow: 0px 0px 2px 2px;
}

.ng-autocomplete {
  width:100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
}
