<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="container-div">
        <div class="responsive-div-2">
            <div class="div-close-poupup">
                <div class="header-tag">
                    <h1>Option Select</h1>
                </div>
                <div class="Button-div">
                    <button type="submit" onclick="closemainpopup_2()">Close</button>
                </div>
            </div>
            <div class="option-panel-daily-sheet">
                <button class="btn-a"
                    onclick="PageChangerView('./View/DAILY_SHEET/VIEW_PORT/Table_Views/TableViews.html')">View_1</button>
                <button class="btn-b"
                    onclick="PageChangerView('./View/DAILY_SHEET/VIEW_PORT/Table_Views/TableView2.html')">View_2</button>
                <button class="btn-c"
                    onclick="PageChangerView('./View/DAILY_SHEET/VIEW_PORT/Table_Views/ITEM_SHOW.html')">View_3</button>
            </div>
        </div>
        <div class="append-div"></div>
    </div>

</body>

</html>
