<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div id="nav_content">
    <main class="main-class">
      <div class="container-fluid px-4 right-div">
        <div class="nav-title">
        <h2 class="mt-1">Dashboard</h2>
        <h6 class="mb-1">Company : Dhandhania Group</h6>
        </div>
        <div class="card-panel w-85 p-3">
          <div class="row mt-1">
            <div class="col-xl-4 col-md-6">
              <div class="card mb-4 dasboard-card ">
                <div class="card-body">
                  <h5>Inward Sheet</h5>
                </div>
                <div class="card-footer">
                  <div class="margin-left">
                    <a class="nav-link" routerLinkActive="active" routerLink="/InwardSheet/ViewInwardSheet">View Report</a>
                  </div>
                  <div class="margin-right">
                    <a class="nav-link" routerLinkActive="active" routerLink="/InwardSheet/AddInwardSheet">Add Entry</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card mb-4 dasboard-card">
                <div class="card-body">
                  <h5>Outward Sheet</h5>
                </div>
                <div class="card-footer">
                  <div class="margin-left">
                    <a class="nav-link" routerLinkActive="active" routerLink="/OutwardSheet/DisplayOutwardSheet">View Report</a>
                  </div>
                  <div class="margin-right">
                    <a class="nav-link" routerLinkActive="active" routerLink="/OutwardSheet/AddOutwardSheet">Add Entry</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card mb-4 dasboard-card">
                <div class="card-body">
                  <h5>Stock Report</h5>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="nav-link" routerLinkActive="active" routerLink="/StockSheetView">View Report</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-xl-4 col-md-6">
              <div class="card mb-4 dasboard-card">
                <div class="card-body">
                  <h5>Admin/Super Sheet</h5>
                </div>
                <div class="card-footer">
                  <div class="margin-left">
                    <a class="nav-link" routerLinkActive="active" routerLink="/Login">View Report</a>
                  </div>
                  <div class="margin-right">
                    <a class="nav-link" routerLinkActive="active" routerLink="/Login">Add Entry</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card mb-4 dasboard-card">
                <div class="card-body">
                  <h5>Stock Summary Sheet</h5>
                </div>
                <div class="card-footer">
                  <div class="margin-left">
                    <a class="nav-link" routerLinkActive="active" routerLink="/NewStockSheetView">View Report</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card mb-4 dasboard-card">
                <div class="card-body">
                  <h5>Correction Report</h5>
                </div>
                <div class="card-footer">
                  <div class="margin-left">
                    <a class="nav-link" routerLinkActive="active" routerLink="/CorrectionReport">View Report</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-xl-4 col-md-6 dasboard-card">
              <div class="card mb-4">
                <div class="card-body">
                  <h5>Dealer Sheet</h5>
                </div>
                <div class="card-footer">
                  <div class="margin-left">
                    <a class="nav-link" routerLinkActive="active" routerLink="/DealerSheetView">View Report</a>
                  </div>
                  <div class="margin-right">
                    <a routerLink="/DealerAddSheet" class="nav-link" routerLinkActive="active">Add Entry</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 dasboard-card">
              <div class="card mb-4">
                <div class="card-body">
                  <h5>DSR Report</h5>
                </div>
                <div class="card-footer">
                  <div class="margin-left">
                    <a class="nav-link" routerLinkActive="active" routerLink="/DSRReport">View Report</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 dasboard-card">
              <div class="card mb-4">
                <div class="card-body">
                  <h5>Labour Report</h5>
                </div>
                <div class="card-footer">
                  <div class="margin-left">
                    <a class="nav-link" routerLinkActive="active"  routerLink="/LabourReport">View Report</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- <footer class="py-4 bg-dark mt-auto footer">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Dhandhania 2021</div>
          <div>
            <a href="#">Privacy Policy</a> &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer> -->
  </div>
</body>

</html>
