<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dhandhania</title>
</head>

<body>
  <div class="class-flex-column">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" [class]="this.serviceService.islogged?'visible sb-topnav navbar navbar-expand navbar-dark bg-dark':'hidden'">
        <a class="navbar-brand" href="/*"><img src="./assets/Images/logo-icon.png" class="img-fluid dashboard-logo" />Dhandhania</a>
        <button [class]="this.serviceService.islogged?'btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 visible sidebarToggle':'hidden'" id="sidebarToggle"> <i class="fas fa-bars"></i></button>
        <ul [class]="this.serviceService.islogged?'visible navbar-nav me-lg-4 login-dropdown ms-auto':'hidden'">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" (click)="this.CallingTooltips($event);">{{this.SESSION_DATA['User_Name']!=0?this.SESSION_DATA['User_Name']:'Name'}}</a>
        </ul>
    </nav>
    <div class="side-nav-bar">
      <div [class]="this.serviceService.islogged?'side-nav-cls visible':'side-nav-cls hidden'" >
          <nav class="sb-sidenav sb-sidenav-dark bg-dark">
              <div class="sb-sidenav-menu border-bottom-1">
                  <div class="nav">
                      <a class="nav-link nav-class-active" routerLink="/Home">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link collapsed nav-class-active" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Inward Sheet
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                      <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" routerLink="/Login">View Report</a>
                              <a class="nav-link" routerLink="/Login">Add Entry</a>
                          </nav>
                      </div>
                      <a class="nav-link collapsed nav-class-active" data-bs-toggle="collapse" data-bs-target="#outwardsheet" aria-expanded="false" aria-controls="outwardsheet">
                          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                          Outward Sheet
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="outwardsheet" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" routerLink="/Login">View Report</a>
                              <a class="nav-link" routerLink="/Login">Add Entry</a>
                          </nav>
                      </div>

                      <a class="nav-link collapsed nav-class-active" data-bs-toggle="collapse" data-bs-target="#stockreports" aria-expanded="false" aria-controls="stockreports">
                          <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                          Stock Reports
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="stockreports" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" routerLink="/Login">View Report</a>
                              <a class="nav-link" routerLink="/Login">Add Entry</a>
                          </nav>
                      </div>
                      <a class="nav-link nav-class-active" (click)="this.serviceService.LogoutSession();">
                          <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                          Logout
                      </a>
                  </div>
              </div>
              <div class="sb-sidenav-footer bg-dark">
                  <div class="small">Logged in as:</div>
                  <h2 class="logged-name">{{this.SESSION_DATA['User_Name']!=0?this.SESSION_DATA['User_Name']:''}}</h2>
              </div>
          </nav>
      </div>
      <div id="layoutSidenav_content" class="respo">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
</body>
</html>
